<h2>Image tracking</h2>
<mat-dialog-content class="mat-typography" (keyup.enter)="onNext()">
  <p>You can upload image, PDF file from your computer or paste image URL.</p>
  <mat-tab-group dynamicHeight mat-align-tabs="center" class="full-width" (selectedIndexChange)="onTabChanged($event)" [selectedIndex]="currentTab">

    <!-- Upload file -->
    <mat-tab label="Upload file">
      <mat-form-field appearance="outline" class="full-width form" [formGroup]="fileForm" (click)="fileInput.click()">
        <mat-label *ngIf="fileName; else newFile">{{fileName}}</mat-label>
        <ng-template #newFile>
          <mat-label>Choose an image or PDF file</mat-label>
        </ng-template>
        <input matInput disabled>
        <button mat-icon-button matSuffix>
          <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden (change)="selectFile($event)" #fileInput type="file" id="file" accept="image/*, application/pdf" formControlName="fileControl">
        <mat-error *ngIf="fileForm.get('fileControl').hasError('required')">
          Select a file
        </mat-error>

      </mat-form-field>
    </mat-tab>

    <!-- Paste URL -->
    <mat-tab label="Paste image URL">
      <mat-form-field appearance="outline" class="full-width form" [formGroup]="urlForm">
        <mat-label>URL address</mat-label>
        <input #url id="url" type="url" matInput formControlName="urlControl" [(ngModel)]="urlValue">
        <button mat-icon-button matSuffix
                #tooltip="matTooltip"
                matTooltipPosition="after"
                matTooltip="URL address should point to image.
                Example: https://google.com/images/flower.png">
          <mat-icon>help_outline</mat-icon>
        </button>
        <mat-error *ngIf="urlForm.get('urlControl').hasError('required')">
          URL address is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="urlForm.get('urlControl').hasError('pattern')">
          Invalid URL address
        </mat-error>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null" color="primary">Cancel</button>
  <button mat-button color="accent" (click)="onNext()">Next</button>
</div>
