.full-width {
  width: 100%;
}

.form {
  margin-top: 16px;
  min-height: 60px;
}

.mat-tab-label {
  width: 50%;
}

.mat-ink-bar:before, .mat-ink-bar:after {
  content: "";
  height: 2px;
  width: 20px;
  background-color: white;
  position: absolute;
  left: 0;
}

.mat-ink-bar:after {
  left: initial;
  right: 0;
}

.mat-tab-header {
  border: none;
}

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}
