.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.announcement {
  width: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  top: 64px;
  left: 50%;
  padding: 20px;
  resize: both;
  margin-top: 64px;
  overflow: auto;
}

.announcement .subtitle {
  margin-top: 32px;
  font-size: 18px;
  line-height: 26px;
  max-width: 440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.start-button {
  width: 100px;
  display: block;
  margin: 24px auto auto;
}

.top-loading {
  position: absolute;
  top: 64px;
  left: 0px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #165C7D;
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
  z-index: 2;
}

.dot-tl {
  position: fixed;
  top: 64px;
  left: 0;
}

.dot-tc {
  position: fixed;
  top: 64px;
  left: calc(50% - 10px);
}

.dot-tr {
  position: fixed;
  top: 64px;
  right: 0;
}

.dot-bl {
  position: fixed;
  bottom: 0;
  left: 0;
}

.dot-bc {
  position: fixed;
  bottom: 0;
  left: calc(50% - 10px);
}

.dot-br {
  position: fixed;
  bottom: 0;
  right: 0;
}

.dot-cl {
  position: fixed;
  top: calc(50% - 10px);
  left: 0;
}

.dot-cr {
  position: fixed;
  top: calc(50% - 10px);
  right: 0;
}

.dot-clicks-0 {
  opacity: 1;
}

.dot-clicks-1 {
  opacity: 0.5;
}

.dot-clicks-2 {
  opacity: 0;
}
