<div class="overlay" (window:resize)="onResize($event)">

  <mat-progress-bar
    *ngIf="currentState === state.LOADING || currentState === state.SEARCHING_FOR_FACE"
    id="conditional-loading"
    class="top-loading"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>

  <div
    id="canvases" #canvases
    [style.visibility]="gaze.targetVisibility | async"
    style="position: absolute">
  </div>

  <div *ngIf="currentState === state.CALIBRATING">
    <span id="dot-tl" class="dot dot-tl" [class]="getClicks(dot.TOP_LEFT) | async" (click)="onDotClick(dot.TOP_LEFT)"></span>
    <span id="dot-tr" class="dot dot-tr" [class]="getClicks(dot.TOP_RIGHT) | async" (click)="onDotClick(dot.TOP_RIGHT)"></span>
    <span id="dot-bl" class="dot dot-bl" [class]="getClicks(dot.BOTTOM_LEFT) | async" (click)="onDotClick(dot.BOTTOM_LEFT)"></span>
    <span id="dot-br" class="dot dot-br" [class]="getClicks(dot.BOTTOM_RIGHT) | async" (click)="onDotClick(dot.BOTTOM_RIGHT)"></span>
    <span id="dot-bc" class="dot dot-bc" [class]="getClicks(dot.BOTTOM_CENTER) | async" (click)="onDotClick(dot.BOTTOM_CENTER)"></span>
    <span id="dot-tc" class="dot dot-tc" [class]="getClicks(dot.TOP_CENTER) | async" (click)="onDotClick(dot.TOP_CENTER)"></span>
    <span id="dot-cr" class="dot dot-cr" [class]="getClicks(dot.RIGHT_CENTER) | async" (click)="onDotClick(dot.RIGHT_CENTER)"></span>
    <span id="dot-cl" class="dot dot-cl" [class]="getClicks(dot.LEFT_CENTER) | async" (click)="onDotClick(dot.LEFT_CENTER)"></span>
  </div>

  <div
    *ngIf="currentState === state.NO_CAMERA"
    class="announcement"
  >
    <h1>Camera required</h1>
    <p class="subtitle">Install a webcam or allow us access it so we can track where you look.</p>
  </div>

  <div
    *ngIf="currentState === state.LOADING"
    class="announcement"
  >
    <h1>Loading</h1>
    <p class="subtitle">Just a second, we are preparing everything for you.</p>
  </div>

  <div
    *ngIf="currentState === state.SEARCHING_FOR_FACE"
    class="announcement"
  >
    <h1>Face not found</h1>
    <p class="subtitle">Make sure you can see yourself in preview on top-center and try to move your face into center of the image.</p>
  </div>


  <div
    *ngIf="currentState === state.CALIBRATING"
    class="announcement"
  >
    <h1>Calibration</h1>
    <p class="subtitle">Click on dots whilst looking at them until they disappear.</p>
    <p class="subtitle">Try to not move your head during and after calibration in order to achieve the best results.</p>
  </div>

  <div
    *ngIf="currentState === state.READY || currentState === state.PAUSED"
    class="announcement"
  >
    <h1>Ready</h1>
    <p class="subtitle">Everything is prepared. Next we will present you the image and track where you look.</p>
    <p class="subtitle">Click start button once you are ready.</p>
    <button mat-stroked-button color="accent" class="start-button" (click)="onStart()">Start</button>
  </div>

</div>
