<mat-toolbar class="fixed-top">
  <a class="logo" (click)="onHomeClick()">Vision UI admin</a>
  <span class="spacer"></span>

  <button mat-stroked-button color="accent" style="margin-right: 16px" (click)="onCreteBundle()">
    Create bundle
  </button>

  <button mat-stroked-button color="warn" (click)="onLogout()">
    Log out
  </button>
</mat-toolbar>

<div class="admin-root">
  <div class="inner-content">
    <h2>Bundles</h2>

    <mat-form-field appearance="outline" class="search-item">
      <mat-label>Filter</mat-label>

      <img matPrefix class="input-icon" src="/assets/search.svg" width="24px" height="24px">
      <input #search type="text" matInput (keyup)="onSearchChanged()">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Key Column -->
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef>Key</th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>

      <!-- Items Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Items</th>
        <td mat-cell *matCellDef="let element"> {{element.items.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>

    <mat-paginator [length]="(pageCount | async)" [pageSizeOptions]="[20, 50, 100]"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>
