.admin-root {
  max-width: 1000px;
  margin: 0 auto;
}

.inner-content {
  position: relative;
  width: calc(100% - 64px);
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 104px;
}

.search-item {
  margin-top: 32px;
  width: 100%;
}

table {
  width: 100%;
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  border-radius: 4px;

}
table tr:last-child td {
  border: none;
}
h2 {
  font-size: 32px;
  margin-bottom: 0;
}

.logo {
  font-family: 'Nunito', 'Roboto', 'Helvetica Neue', 'Arial', serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 4px;
  margin-left: 16px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.fixed-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.mat-row:hover {
  background-color: #f6f6f6;
  transition: background-color 200ms ease-in-out;
}
