<h2>Website tracking</h2>
<mat-dialog-content class="mat-typography" (keyup.enter)="onNext()">
  <p>First of all enter webpage URL address. We will check if it can be used for eye gaze tracking.</p>
  <mat-form-field appearance="outline" class="full-width" [formGroup]="urlForm">
    <mat-label>URL address</mat-label>
    <input #url type="url" matInput formControlName="urlControl">
    <button mat-icon-button matSuffix
            #tooltip="matTooltip"
            matTooltipPosition="after"
            matTooltip="URL address in this case should point to a website.
                Example: https://google.com">
      <mat-icon>help_outline</mat-icon>
    </button>
    <mat-error *ngIf="urlForm.get('urlControl').hasError('required')">
      URL address is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="urlForm.get('urlControl').hasError('pattern')">
      Invalid URL address
    </mat-error>
  </mat-form-field>


</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null" color="primary">Cancel</button>
  <button mat-button color="accent" (click)="onNext()">Next</button>
</div>
