.admin-root {
  max-width: 1000px;
  margin: 0 auto;
}

.inner-content {
  position: relative;
  width: calc(100% - 64px);
  padding: 104px 32px;
}
h2 {
  font-size: 32px;
  margin-bottom: 0;
}

.logo {
  font-family: 'Nunito', 'Roboto', 'Helvetica Neue', 'Arial', serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 4px;
  margin-left: 16px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.fixed-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
h3 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 18px;
}

.form-item {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.column-static {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-wrap-content {
  flex: 0!important;
}

.buttons {
  float: right;
  background-color: #f9f9f9;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 64px;
  padding: 0 16px;
  width: 100%;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  white-space: nowrap;
}

.buttons:first-child button {
  margin-right: 8px;
}

.buttons:last-child button {
  margin-left: 8px;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .column-icon {
    flex: 0;
    padding-top: 8px;
  }

  .column:last-child {
    padding-left: 8px;
  }

  .column:first-child {
    padding-right: 8px;
  }
}
