<mat-toolbar class="fixed-top">
  <a class="logo" (click)="onHomeClick()">Vision UI admin</a>
  <span class="spacer"></span>
  <button mat-stroked-button color="warn" (click)="onLogout()">
    Log out
  </button>
</mat-toolbar>

<div class="admin-root">
  <div class="inner-content">

    <div class="row">
      <div class="column-static">
        <h2>Bundle</h2>
      </div>
      <div class="column column-wrap-content">
        <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="true" xPosition="before">
          <button mat-menu-item (click)="onDeleteBundle()">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </mat-menu>
      </div>
    </div>


    <h3>Basic information</h3>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="outline" class="form-item" [formGroup]="form">
          <mat-label>Name</mat-label>
          <input #name type="text" matInput [value]="bundle?.name" formControlName="bundleName">
          <mat-error *ngIf="form.get('bundleName').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field appearance="outline" class="form-item" [formGroup]="form">
          <mat-label>Key</mat-label>
          <input #key type="text" matInput [value]="bundle?.key" formControlName="bundleKey">
          <mat-error *ngIf="form.get('bundleKey').hasError('required')">
            Key is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <h3>Images</h3>

    <div #images class="images">
      <div class="row" *ngFor="let item of bundle?.items; trackBy:trackByFn" id="image-{{item.id}}">
        <div class="column">
          <mat-form-field appearance="outline" class="form-item" [formGroup]="form">
            <mat-label>Name</mat-label>
            <input id="image-{{item.id}}-name" type="text" matInput [value]="item.name"
                   formControlName="imageName{{item.id}}" (keyup)="onNameChanged()">
            <mat-error *ngIf="form.get('imageName' + item.id)?.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="column">
          <mat-form-field appearance="outline" class="form-item" [formGroup]="form">
            <mat-label>URL address</mat-label>
            <input id="image-{{item.id}}-url" type="text" matInput [value]="item.url"
                   formControlName="imageUrl{{item.id}}">
            <mat-error *ngIf="form.get('imageUrl' + item.id)?.hasError('required')">
              Url address is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('imageUrl' + item.id).hasError('pattern')">
              Invalid URL address
            </mat-error>
          </mat-form-field>
        </div>

        <div class="column column-icon">
          <button mat-icon-button color="primary" aria-label="Delete {{item.name}}" (click)="onDelete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <button mat-stroked-button color="accent" (click)="onAddImage()" style="float:right">
      Add image
    </button>

    <h3>Start image</h3>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="outline" class="form-item" [formGroup]="form">
          <mat-label>Choose an option</mat-label>
          <mat-select [disabled]="disableSelect.value" [(value)]="selectedImage" formControlName="startItem" (selectionChange)="onStartItemChanged($event)">
            <mat-option *ngFor="let item of bundle?.items"
                        value="option-{{item.id}}">{{item.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('startItem').hasError('required')">
            You must make a selection
          </mat-error>
        </mat-form-field>
      </div>

      <div class="column"></div>
    </div>

  </div>
</div>


<div class="buttons">
  <span class="spacer"></span>
  <button mat-button color="primary" (click)="onCancel()">Cancel</button>
  <button mat-stroked-button color="accent" (click)="onSave()">Save</button>
</div>
