<div class="center" (keyup.enter)="onLoginClicked()">
  <h1>Vision UI admin</h1>

  <mat-form-field appearance="outline" class="login-item" [formGroup]="userForm">
    <mat-label>Username</mat-label>
    <input #username type="text" matInput formControlName="username">
    <mat-error *ngIf="userForm.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="login-item" [formGroup]="userForm">
    <mat-label>Password</mat-label>
    <input #password type="password" matInput formControlName="password">
    <mat-error *ngIf="userForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="userForm.get('password').hasError('wrongPassword')">
      Password is <strong>incorrect</strong>
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button class="login-item" color="accent" (click)="onLoginClicked()">Login</button>

</div>
