<h2>Enter code</h2>
<mat-dialog-content class="mat-typography" (keyup.enter)="onNext()">
  <p>Enter code you have received in order to obtain prepared bundle for gaze tracking.</p>
  <mat-form-field appearance="outline" class="full-width" [formGroup]="codeForm">
    <mat-label>Code</mat-label>
    <input #code type="url" matInput formControlName="codeControl">
    <mat-error *ngIf="codeForm.get('codeControl').hasError('required')">
      Code is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="codeForm.get('codeControl').hasError('invalid')">
      Code is not valid
    </mat-error>
  </mat-form-field>


</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null" color="primary">Cancel</button>
  <button mat-button color="accent" (click)="onNext()">Next</button>
</div>
