<div class="center">
  <h1>Vision UI</h1>
  <p class="claim">Track user’s gaze, generate simple heatmaps or export raw data into computer-readable format.</p>

  <div class="buttons">
    <app-dialog-webpage></app-dialog-webpage>
    <app-dialog-image></app-dialog-image>
    <app-dialog-code></app-dialog-code>
  </div>

</div>
