img {
  object-fit: cover;
}

.logo {
  font-family: 'Nunito', 'Roboto', 'Helvetica Neue', 'Arial', serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 4px;
  margin-left: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.fixed-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}


.menu {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 64px;
  left: 0;
  background: rgba(0, 0, 0, 0.01);
  z-index: 1;
}

.image_container {
  float: right;
  margin-top: 64px;
}

.image_container_with_menu {
  width: calc(100% - 250px);
  float: right;
}

.image_container_without_menu {
  width: 100%;
  float: right;
}

.menu-ul {
  padding: 0;
  margin: 0;
}

.menu h2 {
  padding: 24px 32px 8px;
}

.menu-li {
  display: block;
  border-radius: 4px;
  margin: 4px 16px;
  padding: 8px 12px;
}

li.menu-li:hover {
  background: rgba(0, 0, 0, 0.1);
}

li.selected {
  background: rgba(0, 0, 0, 0.1);
}

li.menu-li span {
  line-height: 20px;
}
