<div (window:resize)="onResize($event)" style="height: 100%">
  <div>
    <mat-toolbar class="fixed-top">
      <button mat-icon-button aria-label="Back" (click)="onCancel()">
        <mat-icon>close</mat-icon>
      </button>
      <span class="logo">Vision UI</span>
      <span class="spacer"></span>

      <button mat-button color="primary" style="margin-right: 16px"
              (click)="onPause()"
              [ngStyle]="{'visibility' : (showPause | async) ? 'visible' : 'hidden'}"
      >
        Pause
      </button>
      <button mat-stroked-button color="accent"
              (click)="onDone()"
              [ngStyle]="{'visibility' : (showStop | async) ? 'visible' : 'hidden'}"
      >
        Stop
      </button>
    </mat-toolbar>
  </div>

  <div #container class="image_container"
       [ngClass]="{'image_container_with_menu': renderMenu, 'image_container_without_menu' : !renderMenu}">
    <img #image
         id="gaze-foreground"
         [src]="data"
         [style.visibility]="gaze.targetVisibility | async"
         alt="Vision image"
         crossorigin="anonymous"
    >
  </div>

  <div #menu class="menu" *ngIf="renderMenu" [ngStyle]="{'visibility' : (showMenu | async) ? 'visible' : 'hidden'}">
    <h2>Items</h2>
    <ul class="menu-ul">
      <li class="menu-li"
          *ngFor="let item of scanItems; index as i;"
          (click)="onSelectItem(item)"
          [ngClass]="{'selected': item.id() == model.id()}"
      >
        <span>{{item.name() === null ? "Item " + i : item.name()}}</span>
      </li>
    </ul>
  </div>

  <app-gaze [canvasPos]="imagePosition"></app-gaze>
</div>

<app-webgazer></app-webgazer>
