<h2>Scanning finished</h2>
<mat-dialog-content class="mat-typography">
  <p>Download heatmap or raw data in csv format.</p>

  <mat-slide-toggle id="only-heatmap" [(ngModel)]="onlyHeatmap" name="onlyHeatmap">Export only heatmap without background</mat-slide-toggle>
  <mat-slide-toggle id="export-csv" [(ngModel)]="exportCsv" name="exportCsv">Export data into CSV file</mat-slide-toggle>

</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" color="primary">Close</button>
  <button mat-button color="accent" (click)="onDownload()">Download</button>
</div>
