
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #7E7E82, // Pantone 4278 C
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$blue-grey: (
  50: #A1BCC9,
  100: #8BACBD,
  200: #6994A9,
  300: #4C7F99,
  400: #316C8A,
  500: #165C7D, // Pantone 7700 C
  600: #124D6B,
  700: #0F425C,
  800: #0D384D,
  900: #0A2D3F,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$warn: (
  50: #E8AEC0,
  100: #E196AD,
  200: #DA7E9B,
  300: #D36688,
  400: #CC4E75,
  500: #C63663, // PANTONE 7635 C
  600: #AD2F56,
  700: #96294B,
  800: #671C33,
  900: #671C33,
  A100: #E196AD,
  A200: #DA7E9B,
  A400: #CC4E75,
  A700: #96294B,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vision-ui-primary: mat-palette($grey);
$vision-ui-accent: mat-palette($blue-grey);

// The warn palette is optional (defaults to red).
$vision-ui-warn: mat-palette($warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vision-ui-theme: mat-light-theme((
  color: (
    primary: $vision-ui-primary,
    accent: $vision-ui-accent,
    warn: $vision-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vision-ui-theme);

h1, h2, h3, h4, button {
  font-family: 'Nunito', 'Roboto', 'Helvetica Neue', 'Arial', serif!important;
  font-weight: 600!important;
}
