/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#webgazerVideoFeed, #webgazerVideoCanvas, #webgazerFaceOverlay {
  position: fixed !important;
  height: 64px !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 101 !important;
}

#webgazerFaceFeedbackBox {
  display: none !important;
}

.center {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

.mat-typography h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.mat-typography .claim {
  margin-top: 64px;
  font-size: 20px;
  line-height: 32px;
  max-width: 440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
